<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.iu.s3.bankbook.BankBookDAO">
	<insert id="setWrite" parameterType="com.joo.s3.bankbook.BankBookDTO">
		insert into bankbook values(bank_seq.nextval, #{bookName}, #{bookRate}, #{bookSale})
	</insert>



</mapper>   

 