<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.joo.s3.bankbook.BankBookDAO">
	
	<update id="setUpdate" parameterType="com.joo.s3.bankbook.BankBookDTO">
		update bankbook set bookname= #{bookName}, bookrate=#{bookRate} , booksale= #{bookSale} where booknumber= #{bookNumber}
	
	</update>

	<insert id="setWrite" parameterType="com.joo.s3.bankbook.BankBookDTO">
		insert into bankbook values(bankseq.nextval, #{bookName}, #{bookRate}, #{bookSale})
	</insert>

	<select id="getSelect" parameterType="com.joo.s3.bankbook.BankBookDTO" resultType="com.joo.s3.bankbook.BankBookDTO">
		select * from bankbook where bookNumber=#{bookNumber}
	</select>

	<select id="getList" resultType="com.joo.s3.bankbook.BankBookDTO">
		select * from bankbook order by bookNumber desc
	</select>
	
	<delete id="setDelete" parameterType="com.joo.s3.bankbook.BankBookDTO">
		delete bankbook where booknumber= #{bookNumber}
	</delete>
	
</mapper>   

 